.banner {
    width: 70vw;
    height: 8vw;
    position: absolute;
    padding: 0 0 8vw 0;
    right: 0;
    bottom: 16vh;
    overflow: hidden;
    background: #85A896 url('texture.jpg');
    background-blend-mode: multiply;
    color: #4f504e;
    /* box-shadow: 1px 1px 2px rgba(255,255,255,.3), 2px 2px 7px rgba(0,0,0,0.3); */
    transition: transform 1s .3s ease-in-out;
    transform: translateX(2500px);
}
.banner.show {
    transform: translateX(0);
    transition-delay: 0s;
}

.artist {
    font: 700 3.4vw/1em 'Din Pro Cond', sans-serif;
    margin: .7vw 0 0;
    display: inline-block;
    white-space: nowrap;
}
.logo {
    left: 0;
    top: 0;
    width: 18vw;
    height: 8vw;
    background: #738F82 url('texture.jpg');
    background-blend-mode: multiply;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.logo img {
    position: absolute;
    max-width: 82%;
    max-height: 72%;
    object-fit: contain;
    left: 1.25vw;
    top: 1.1vw;
}
.dj {
    margin: 1vw 0 0 2.5vw;
    width: 6.5vw;
    height: 5.5vw;
    background: url('dj.png') no-repeat 0 0 / contain;
    display: inline-block;
    vertical-align: top;
}
