html {
    font-size: 1vh;
}
html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
}
.banner {
    position: absolute;
    right: 3vw;
    bottom: 30vh;
    width: 100%;
}
.banner__line-1 {
    width: 0;
    position: absolute;
    right: 28vw;
    top: 0;
    padding: .5rem 0 1.2rem 0;
    font: 3.5rem/1em 'Din Pro', sans-serif;
    height: 1em;
    background-color: #4d4d4d;
    color: #fff;
    z-index: 1;
    text-indent: 2rem;
    transition: width 1s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}
.banner__line-1.show {
    width: 18vw;
}
.banner__line-2 {
    width: 0;
    height: 7rem;
    position: absolute;
    padding: 3rem 0 0 0;
    left: 55vw;
    top: 3.5rem;
    font: 600 4.5rem/1.5em 'Din Pro Cond', sans-serif;
    background-color: #6b996c;
    color: #4f504e;
    text-indent: 2rem;
    transition: width 1s .3s ease-in-out;
    box-shadow: 1px 1px 2px rgba(255,255,255,.3), 2px 2px 7px rgba(0,0,0,0.3);
}
.banner__line-2.show {
    width: 45vw;
    transition-delay: 0;
}
.now, .artist {
    display: none;
}