html, body {
    min-height: 100%;
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    font-family: 'Core Sans', sans-serif;
    font-weight: 400;
    background-color: #000;
}
.layer-1 {
    background: url('bg.jpg') no-repeat 50% 50% / contain;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.layer-2 {
    background: url('bg.jpg') no-repeat 0 0 / cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-clip-path: circle(30% at 50% 50%);
    clip-path: circle(30% at 50% 50%);
    transform: rotate(180deg);
    opacity: 0;
    -webkit-animation: blink 8s infinite linear;
    animation: blink 8s infinite linear;
}
.layer-3 {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    -webkit-animation: darken 10s infinite linear;
    animation: darken 10s infinite linear;
}

.spinner-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 53vh;
    height: 53vh;
    border-radius: 50%;
    border: 1.5vh solid #05caf3;
    -webkit-clip-path: inset(50% 0 0 50%);
    clip-path: inset(50% 0 0 50%);
    -webkit-animation: rotate-right 4s infinite linear;
    animation: rotate-right 4s infinite linear;
}

.spinner-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 64vh;
    height: 64vh;
    border-radius: 50%;
    border: 1vh solid #05a2c8;
    -webkit-clip-path: inset(50% 0 0 50%);
    clip-path: inset(50% 0 0 50%);
    -webkit-animation: rotate-left 6s infinite linear;
    animation: rotate-left 6s infinite linear;
}

.text-layer {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.logo-1 {
    position: absolute;
    height: 8%;
    left: 0;
    right: 0;
    top: 37%;
    margin: auto;
}
.logo-2 {
    position: absolute;
    height: 14%;
    left: 0;
    right: 0;
    top: 43%;
    margin: auto;
}

.program-name {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50vh;
    margin-top: -5.5vh;
    text-align: center;
    font: 400 15vh/1em Bluescreens;
    text-transform: uppercase;
    text-shadow: 0 0 0 transparent;
    -webkit-animation: glow 10s infinite;
    animation: glow 10s infinite;
}

.wait-please {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38%;
    margin: auto;
    text-align: center;
    font-size: 2.5vh;
}